#page-landing {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--color-text-in-primary);
  background: var(--color-primary);

  .logo-container {
    text-align: center;
    margin: 2rem 0 3rem 0;
    img {
      height: 8rem;
    }
    h2 {
      font-weight: 500;
      font-size: 2rem;
      line-height: 4.6rem;
    }
  }
  
  .hero-image {
    width: 100%;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    a {
      width: 23rem;
      height: 8rem;
      border-radius: 0.8rem;
      font: 700 2.0rem Archivo;
      
      display: flex;
      align-items: center;
      justify-content: center;
      
      text-decoration: none;
      color: var(--color-button-text);
      transition: background-color 0.2s;

      &:first-child {
        margin-right: 1.6rem;
      }
      img {
        margin-right: 2.4rem;
        width: 4rem;
      }
    }
    .study {
      background: var(--color-primary-lighter);
      &:hover {
        background: var(--color-primary-light);
      }
    }
    .give-classes {
      background: var(--color-secondary);
      &:hover {
        background: var(--color-secondary-dark);
      }
    }
  }

  .total-connections {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-left: 0.8rem;
    }
  }
}

